body {
    margin: 0;
    min-width: 250px;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: hsl(224, 42%, 70%);
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: hsla(300, 7%, 81%, 0.796);
}

ul li.checked {
    background: lch(28.02% 114.83 306.09 / 0.589);
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
}

.close:hover {
    background-color: hsl(125, 90%, 58%);
    color: white;
}

.toheader {
    background-color: hsl(150, 90%, 58%);
    padding: 30px 30px;
    color: white;
    text-align: center;
}

.input-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

input {
    margin: 10px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: hwb(350 4% 11% / 0.87);
    color: hsl(0, 29%, 95%);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #1b40e6;
}